body{
    background-color:#7a7b7c;
}

#header{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: green;
    color: #ffffff;

}

#header ul li{
    list-style-type:none;
    float:right;
    margin:1.5px;
    text-indent:30px;
    font-size:19px;
}

#header h1 {
    padding:1px;
    margin:4px;
    font-size:40px;
    color:Black;
}

#imageofme{
    border-radius: 50%;
    padding:5px;
    width:10%;
    object-fit:cover;
}

#container{
    border-left:solid 200px grey;
    padding: 0px;
    height:700px;
    margin:-8px 2px 2px 2px;
}

.middle{
    list-style-type:none;
    justify-content:space-between;
    height:100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:30px;
    z-index:1;
    position:absolute;
    line-height:10em;
    left:-10px;
    top:280px;
}

.About-Me {
    padding:0%;
    margin:10px;
    background-color:green
}

#cssimage{
    width:200px;
    height:auto;
}
#javaword{
    width:200px;
    height:auto;
}

#cplus{
    width:200px;
    height:auto;
}

#htmllogo{
    width:200px;
    height:auto;
}