body{
    background-color:rgb(255, 255, 255);
}

#header{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #7a7b7c;
    color: #ffffff;

}

#header ul li {
    list-style-type:none;
    float:right;
    margin:1px;
    text-indent:30px;
}

#header h1 {
    padding:0px;
    margin:0px;
    font-size:40px;
    color:Black;
}

#imageofme{
    border-radius: 50%;
    padding:5px;
    width:10%;
    object-fit:cover;
}


#container{
    border-left:solid 200px grey;
    padding: 0px;
    height:700px;
    margin:-8px 2px 2px 2px;
}

.liclass{
    list-style-type:none;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:verdana;
    font-size:30px;
    z-index:1;
    position:absolute;
    line-height:4.5em;
    left:-10px;
    top:250px;
}
