:root {
  --bg:rgb(126, 124, 124);
  --bg1:lightgreen;
}
body{
    background-color:var(--bg);
}
/* The Beginning of the NavBar/Header */
.Top{
    position:relative;
    background-color:var(--bg1);
    overflow:hidden;
}

.Top ul {
    position:sticky;
    list-style-type:none;
    text-decoration:none;
    display:flex;
    flex-direction:row;
    justify-content:right;
    font-size:130%;
    padding:1%;
    margin:-1%;
}

.Top > a {
    position:relative;
    color:Black;
}

.Top div h1 {
    position:sticky;
    left:10%;
    bottom:10vh;
    font-size:4vh;
    overflow:hidden;
}

#The-Beginning p{
    position:relative;
    max-width:80%;
    max-height:40%;
}

.wrap{
    position:sticky;
    display:flex;
    flex-direction:column;
    padding:0;
    margin-top:20%;
    margin-bottom:20%;
    gap:300px;
    bottom:30vh;
}

.wrap > #Aboutme{
    position:absolute;
    top:30vh;
}
#Work{
    position:absolute;
    bottom:10vh;
}
#ContactMe{
    position:absolute;
    bottom:10vh;
}
#Middle img{
    overflow:hidden;
    position:absolute;
    width:600px;
    height:600px;
    top:50vh;
    z-index:-1;
}